<div class="logo">
    <div class="header_label header_left bada">
        <a href="mailto:championsonline@thrillcloud.com">Contact</a>
    </div>
    <div class="header_label header_right bada">
        <a id="aboutLink" href="Home/About">About</a>
    </div>
    <img src="/images/champions_logo.png" />
</div>
    
<div id="builder" class="ui-helper-clearfix">
    <div id="leftSide" class="window_outer_border">
        <div class="window_mid_border">
            <div class="window_inner_border">

                <div id="accordionTabs">
                    <div id="tabInnateTalent" class="accordion_tab">
                        <img src="/images/Powerhouse/ChooseInnateTalent.png" class="groupImg" />
                        <div class="accordionTabCounter bada"></div>
                        <img src="/images/Powerhouse/minus16.png" class="removeStat" title="Remove statistic" />
                        <div id="buildInnateTalent" class="buildList ui-helper-clearfix"></div>
                    </div>
                    <div id="tabPowers" class="accordion_tab">
                        <img src="/images/Powerhouse/PurchasePowers.png" class="groupImg" />
                        <div class="accordionTabCounter bada"></div>
                        <img src="/images/Powerhouse/minus16.png" class="removeStat" title="Remove statistic" />
                        <div id="buildPowers" class="buildList ui-helper-clearfix"></div>
                    </div>
                    <div id="tabTravelPowers" class="accordion_tab">
                        <img src="/images/Powerhouse/PurchaseTravelPowers.png" class="groupImg" />
                        <div class="accordionTabCounter bada"></div>
                        <img src="/images/Powerhouse/minus16.png" class="removeStat" title="Remove statistic" />
                        <div id="buildTravelPowers" class="buildList ui-helper-clearfix"></div>
                    </div>
                    <div id="tabAdvantages" class="accordion_tab">
                        <img src="/images/Powerhouse/PurchaseRanksAndAdvantages.png" class="groupImg" />
                        <div class="accordionTabCounter bada"></div>
                        <div id="buildAdvantages" class="buildList ui-helper-clearfix"></div>
                    </div>
                    <div id="tabCharacteristicFocus" class="accordion_tab">
                        <img src="/images/Powerhouse/PurchaseCharacteristicFocus.png" class="groupImg" />
                        <div class="accordionTabCounter bada"></div>
                        <img src="/images/Powerhouse/minus16.png" class="removeStat" title="Remove statistic" />
                        <div id="buildCharacteristicFocus" class="buildList ui-helper-clearfix"></div>
                    </div>
                    <div id="tabTalents" class="accordion_tab">
                        <img src="/images/Powerhouse/PurchaseTalents.png" class="groupImg" />
                        <div class="accordionTabCounter bada"></div>
                        <img src="/images/Powerhouse/minus16.png" class="removeStat" title="Remove statistic" />
                        <div id="buildTalents" class="buildList ui-helper-clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div id="rightSide" class="window_outer_border">
        <div class="window_mid_border">
            <div class="window_inner_border ui-helper-clearfix">
                <div id="powersetTabs" class="window_outer_border" style="display:none;">
                    <div class="window_mid_border">
                        <div class="window_inner_border ui-helper-clearfix">
                            <ul id="powersetTabsList"></ul>
                        </div>
                    </div>
                </div>

                <div id="statisticsList">
                </div>

                <div id="descriptionContainer">
                    <div id="description">
                    </div>
                    <img id="purchaseButton" src="/images/Powerhouse/PurchasePower_Disabled.png" class="disabled" />
                </div>
            </div>
        </div>
    </div>

    <div class="header_label header_lef bada">
        <a id="summaryLink" href="Home/Summary">Build Summary</a>
    </div>
</div>

