<div class="logo">
    <div class="header_label header_left bada">
        <a id="homeLink" href="/">Home</a>
    </div>
    <img src="/images/champions_logo.png" />
</div>

<div id="summary">
</div>
